<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
	<test name="MyTest1">
		<classes>
			<class name="tests.Test1" />
			<parameter name="sUsername" value="testuser@example.com" />
			<parameter name="sPassword" value="test123" />
		</classes>	
	</test>
</suite>